<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Columbia Nutrition{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='nutrition.js') }}"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/" id="name">Columbia Nutrition</a>
        <a href="/add" class="nav-link">Add New Item</a> <!-- Add this line for the "Add New Item" link -->
        <form id="formId" action="/search" method="get">
            <input id="search_input" type="text" placeholder="Search..." name="search">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
